<footer>
  <section class="col-one">
    <h1>Visit Us.</h1>
  </section>

  <section class="col-two">
    <h3>555 Fictional Road</h3>
    <h3>Tampa, Florida</h3>
    <h3>33609</h3>
    <h3>1-813-555-5555</h3>
  </section>
</footer>


